@media (max-width: 666px) {

    #gameScreen {
        display: none;
    }

    .headline {
        color: white;
    }

    .rotateImgStyle {
        display: block;
    }

    #mobileController {
        display: flex;
    }

    .infoSvg{
        display: block;
    }

}

@media (max-height: 500px) {

    #gameScreen {
        width: 100vw;
        height: 100vh;
    }

    .headline {
        display: none;
    }

    canvas {
        height: 100vh;
        width: 100vw;
    }

}
